<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="jury">
            <div class="pstentet d-flex justify-content-start">
                <h5 class="my-3 mb-0">Les Jurys</h5>
                <p class="violet ml-3 mb-0">50</p>
            </div>

              <div class="row">
                <div class="col-sm">
                  <div class="container my-3">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="search">
                          <i class="fa fa-search"></i>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Search"
                          />
                          <button class="btn btn-primary">Search</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="container my-3 d-flex justify-content-end">
                  <button type="button" class="btn btn-outline-dark mx-2 my-1 util px-3">Importer</button>
                  <button type="button" class="btn btn-outline-dark mx-2 my-1 util px-3">Exporter</button>
                  <button type="button" class="btn btn mx-2 my-1 util orange px-3"><i class="fa-sharp fa-regular fa-plus mr-1 "></i>Ajouter</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="thead entete">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Note Final</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date de Naissance</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
    </div>
  </div>