.fullcolor{
    opacity: 1;
}
.partColor{
    opacity: 0.7;
}
.addQuestion{
    background-color: #FF7900;
    color: #FFF;

}
.edit{
    color: #ffc107;
}
.delete{
    color: #f44336;
}
.orange{
    background-color: #FF7900;
    color: #FFF;
}
.orange:hover{
    background-color: #FFF;
    color: #FF7900;
    border: #FF7900 1px solid;
}