<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="orange-text">Profile</h5>
          <div class="row">
            <div class="col">
              <img
                src="../../assets/profile.png"
                class="img-thumbnail w-25"
                alt="..."
              />
            </div>
            <div class="col">
              <div class="text">Modifier Profile</div>
              <div class="d-flex justify-content-start my-2">
                <button type="button" class="btn btn-primary ml-3">
                  Primary
                </button>
                <button type="button" class="btn btn-secondary ml-3">
                  Secondary
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="orange-text">Information Personnelle</h5>
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="nom">Nom</label>
              <input
                type="text"
                class="form-control"
                id="nom"
                aria-describedby="nameHelp"
                placeholder="Entrer Nom"
              />
              <!-- <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              > -->
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <!-- <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              > -->
            </div>
            <div class="form-group">
              <label for="bdate">Date de Naissance</label>
              <input
                type="date"
                class="form-control"
                id="bdate"
                aria-describedby="bdateHelp"
              />
              <!-- <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              > -->
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="prenom">Prenom</label>
              <input
                type="text"
                class="form-control"
                id="prenom"
                placeholder="Prenom"
              />
            </div>
            <div class="form-group">
              <label for="numero">Numero</label>
              <input
                type="tel"
                class="form-control"
                id="numero"
                placeholder="Numero"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea class="form-control" id="bio" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="orange-text">Modifier Mots de Passe</h5>
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
