<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title text-center">Les postulants par genre</h5>
          <hr />
          <div class="card-text d-flex justify-content-center">
            <div>
              <circle-progress [percent]="49" [radius]="25" [outerStrokeWidth]="2" [innerStrokeWidth]="1"
                [outerStrokeColor]="'#845EC2'" [innerStrokeColor]="'#cacaca'" [animation]="true"
                [animationDuration]="300"></circle-progress>
              <h6 class="text-center">Encour</h6>
            </div>
            <div>
              <circle-progress [percent]="20" [radius]="25" [outerStrokeWidth]="2" [innerStrokeWidth]="1"
                [outerStrokeColor]="'#50BE87'" [innerStrokeColor]="'#cacaca'" [animation]="true"
                [animationDuration]="300"></circle-progress>
              <h6 class="text-center">Terminé</h6>
            </div>
            <div>
              <circle-progress [percent]="31" [radius]="25" [outerStrokeWidth]="2" [innerStrokeWidth]="1"
                [outerStrokeColor]="'#50BE87'" [innerStrokeColor]="'#cacaca'" [animation]="true"
                [animationDuration]="300"></circle-progress>
              <h6 class="text-center">Avenir</h6>
            </div>
          </div>
  </div>
</div>
<div class="card">
    <div class="card-body">
      <ng-container *ngIf="(entretienStateJury$ | async) as state" [ngSwitch]="state.appStateEntretien">
        <div class="container-fluid">
          <ng-container *ngSwitchCase="'APP_LOADED'">      
          <div class="table-wrapper">
            <div class="table-title">
              <div>
                <h2>Les entretiens</h2>
              </div>
              <div class="row">
                <div class="col-sm-12 col-12 col-md-12 col-lg-6">
                  <!-- Ajouter Entretien -->
                  <button href="#addEntretienModal" type="button" data-toggle="modal" class="btn btn orange">
                    <span class="bg-light rounded bgg px-1 mr-1"><i class="fas fa-plus "></i></span>Ajouter
                  </button>
                  <!-- <button data-toggle="modal" type="button" class="btn btn orange">
                    <i class="fas fa-file-excel fa-lg"></i>
                  </button> -->
      
                  <!-- Supprimer Entretien Multiple-->
                  <button type="button" class="btn btn orange">
                    <i class='fa-solid fa-trash-can'></i>
                  </button>
                  <!-- <button type="button" class="btn btn orange">
                    <i class='fas fa-sync-alt'></i>
                  </button> -->
                </div>
                <div class="col-sm-12 col-12 col-md-12 col-lg-6">
                  <form #searchForm="ngForm" (ngSubmit)="gotToPage(searchForm.value.keyword)">
                    <div class="row">
                      <div class="col-sm">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="search">
                                <i class="fa fa-search"></i>
                                <input type="search" class="form-control" name="keyword"  ngModel placeholder="Search" />
                                <button type="submit" class="btn btn my-0 py-2" >Search</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- <a
                    href="#addEntretienModal"
                    class="btn btn-success"
                    data-toggle="modal"
                    ><i class="material-icons">&#xE147;</i>
                    <span>Add New Entretien</span></a
                  >
                  <a
                    href="#deleteEntretienModal"
                    class="btn btn-danger"
                    data-toggle="modal"
                    ><i class="material-icons">&#xE15C;</i> <span>Delete</span></a
                  > -->
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <div class="alert alert-primary" role="alert" *ngIf="state.appDataEntretien?.contenu.length<1">
                Pas encore d'entretien
              </div>
              <table class="table table-striped table-hover " *ngIf="state.appDataEntretien?.contenu.length>0">
                <thead class="entete">
                  <tr>
                    <th>
                      <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll" />
                        <label for="selectAll"></label>
                      </span>
                    </th>
                    <th>Rang</th>
                    <th>Entretien</th>
                    <th>Nombre postulant</th>
                    <th>Status</th>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let entretienl of state.appDataEntretien?.contenu ;let i = index">
                  <tr >
                    <td>
                      <span class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" name="options[]" value="1" />
                        <label for="checkbox1"></label>
                      </span>
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{entretienl.entretienNom}}</td>
                    <td>5000</td>
                    <td><button type="button" [ngClass]="entretienl.etat.status==='EN COUR' ? ' borange' : (entretienl.etat.status === 'TERMINE' ? 'bviolet':'bvert')">{{entretienl.etat.status}}</button></td>
                    <td>{{entretienl.dateDebut | date:"dd/MM/YYYY"}}</td>
                    <td>{{entretienl.dateFin | date:"dd/MM/YYYY"}}</td>
                    <td class="action">
                      <a href="#editEntretienModal" class="edit" data-toggle="modal" (click)="GetEntretienById(entretienl.id)"><i class="material-icons"
                          data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                          
                      <a href="#deleteEntretienModal" class="delete" data-toggle="modal" (click)="GetEntretienById(entretienl.id)" ><i class="material-icons"
                          data-toggle="tooltip" title="supprimer">&#xE872;</i></a>
      
                      <a [routerLink]="['/entretien-details',entretienl.id]" class="view" data-toggle="modal"><i class="material-icons"
                          data-toggle="tooltip" title="Voir">&#xe417;</i></a>
      
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="clearfix" *ngIf="state.appDataEntretien?.contenu.length>0">
                <div class="hint-text">Showing <b>{{state.appDataEntretien.pageNo+1}}</b> out of <b>{{state.appDataEntretien?.totalPages}}</b> entries</div>
                <ul class="pagination">
                  <li class="page-item"  [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''"><a (click)="goToNextOrPreviousPage('backward',searchForm.value.keyword)">&laquo;</a></li>
                  <li class="page-item" [ngClass]="i == (currentPage$ | async) ? ' active' : ''"  *ngFor="let number of [].constructor(state.appDataEntretien?.totalPages); let i = index"><a  class="page-link" [ngClass]="i == (currentPage$ | async) ? 'active' : ''" (click)="gotToPage('',i,10)">{{i+1}}</a></li>
                  <li class="page-item" [ngClass]=" (state.appDataEntretien?.totalPages - 1) == (currentPage$ | async) ? ' disabled' : ''"><a  class="page-link"(click)="goToNextOrPreviousPage('forward',searchForm.value.keyword)">&raquo;</a></li>
                </ul>
              </div>
            </div>
      
          </div>
        </ng-container>
        </div>
      </ng-container>
    </div>
</div>