<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5>Postulant details</h5>
          <table class="table table-borderless">
            <tr>
              <th>Nom</th>
              <td>{{postulant.nom}}</td>
            </tr>
            <tr>
              <th>Prenom</th>
              <td>{{postulant.prenom}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{postulant.email}}</td>
            </tr>
            <tr>
              <th>Numero</th>
              <td>{{postulant.numero}}</td>
            </tr>
            <tr>
              <th>Note</th>
              <td>{{postulant.noteFinal}}</td>
            </tr>
            <tr>
              <th>Jury</th>
              <!-- <td>{{postulant.}}</td> -->
            </tr>
            <tr>
              <th>Entretien</th>
              <td>{{postulant?.entretien?.entretienNom}}</td>
            </tr>
            <tr>
              <th>Commentaire Final</th>
              <td>{{postulant?.commentaireFinal}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5>Note details</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Question</th>
                <th scope="col">Note</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Eliminatoire</th>
                <th scope="col">Barem</th>
              </tr>
            </thead>

            <tr *ngFor="let note of notePostulant,let i = index">
              <td>{{questionCritere[i]?.questionNom}}</td>
              <td>{{note?.point}}</td>
              <td>{{note?.commentaire}}</td>
              <td>{{note?.critere.elimination}}</td>
              <td>{{note?.critere.barem}}</td>
       
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
