<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5>Postulant details</h5>
          <table class="table table-borderless">
            <tr>
              <th>Nom</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Prenom</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Numero</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Note</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Jury</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Entretien</th>
              <td>data</td>
            </tr>
            <tr>
              <th>Commentaire Final</th>
              <td>data</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5>Note details</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Question</th>
                <th scope="col">Note</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Eleminatoire</th>
                <th scope="col">Barem</th>
              </tr>
            </thead>

            <tr>
              <td>Question</td>
              <td>Note</td>
              <td>jjhfjsjhjhf</td>
              <td>OUI</td>
              <td>barem</td>
            </tr>
            <tr>
              <td>Question</td>
              <td>Note</td>
              <td>jjhfjsjhjhf</td>
              <td>OUI</td>
              <td>barem</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
